body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(bokeh.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    width: 30%;
    height: 80%;
    left: 50%;
    top: 50%;
    background-color:cornsilk;
    box-sizing: border-box;
    filter: drop-shadow(10px 10px 10px black);
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius:15px;
}
.login-text{
    font-size: 35px;
    padding-left: 23%;
    color: darkorange;
}
.bdr{
    max-width: 33%;
    border: 1px solid black;
    margin-top: -4%;
    margin-left: 30%;
}
.border{
    width: 75%;
    height: 10%;
    text-indent: 10px;
    font-size: 18px;
    margin-top: 8%;
    margin-left: 10%;
    outline: none;
    border: 2px solid black;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}
.border:hover, .border:focus{
    border: 3px solid blue;
    font-size: 19px;
}
.button{
    width: 30%;
    height: 10%;
    margin: 5% 0 0 28%;
    font-size: 22px;
    outline: none;
    background-color: darkorange;
    border-radius: 15px;
    border: 2px solid black;
    transition: all 0.5s ease-in-out;
}
.button:hover{
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}
.err{
    font-weight: 400;
    margin-left:12%;
    padding-top: 2%;
}
